<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/script.js"></script>

</head>

<body>
    <!-- nav bar -->
    {% with complain="text-indigo-500 font-semibold" %}
    {% include 'components/header.html' %}
    {% endwith %}



    <!-- Form -->
    <section class="text-gray-600 body-font relative">
        <div class="container px-5 py-10 lg:py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">File a Complain</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">As per the prevailing laws, FIR of a major crime can only be registered at a Police Station. Please contact nearest Police Station for the same.</p>
            </div>
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
                <form action="/complainSubmission" method="post" class="w-full">
                    <div class="flex flex-wrap -m-2">
                        <div class="p-2 w-1/2">
                            <div class="relative">
                                <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                                <input type="text" id="name" name="name" required
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                        </div>
                        <div class="p-2 w-1/2">
                            <div class="relative">
                                <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                                <input type="email" id="email" name="email" required
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                        </div>
                        <div class="p-2 w-1/2">
                            <div class="relative">
                                <label for="phone" class="leading-7 text-sm text-gray-600">Phone</label>
                                <input type="number" maxlength="10" id="phone" name="phone" required
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                        </div>
                        <div class="p-2 w-1/2">
                            <div class="relative">
                                <label for="station" class="leading-7 text-sm text-gray-600">Police station</label>
                                <!-- <input type="text" id="station" name="station" required
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                 -->
                                <select id="station" name="station" required
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 pb-2.5 px-5 leading-8 transition-colors duration-200 ease-in-out"
                                    name="police_s" value="" title="Select Police Station">
                                    <option value="Select Police Station ">Select Police Station </option>
                                    <option value="Aarey">Aarey</option>
                                    <option value="Agripada">Agripada</option>
                                    <option value="Airport">Airport</option>
                                    <option value="Amboli">Amboli</option>
                                    <option value="Andheri">Andheri</option>
                                    <option value="Antop Hill">Antop Hill</option>
                                    <option value="Azad Maidan">Azad Maidan</option>
                                    <option value="B.K.C.">B.K.C.</option>
                                    <option value="Bandra">Bandra</option>
                                    <option value="Bangur Nagar Link Road">Bangur Nagar Link Road</option>
                                    <option value="Bhandup">Bhandup</option>
                                    <option value="Bhoiwada">Bhoiwada</option>
                                    <option value="Borivali">Borivali</option>
                                    <option value="Byculla">Byculla</option>
                                    <option value="Central Region Cyber">Central Region Cyber</option>
                                    <option value="Charkop">Charkop</option>
                                    <option value="Chembur">Chembur</option>
                                    <option value="Chunabhatti">Chunabhatti</option>
                                    <option value="Colaba">Colaba</option>
                                    <option value="Cuffe Parade">Cuffe Parade</option>
                                    <option value="D. N. Nagar">D. N. Nagar</option>
                                    <option value="Dadar">Dadar</option>
                                    <option value="Dahisar">Dahisar</option>
                                    <option value="Deonar">Deonar</option>
                                    <option value="Dharavi">Dharavi</option>
                                    <option value="Dindoshi">Dindoshi</option>
                                    <option value="Dongri">Dongri</option>
                                    <option value="Dr.D.B Marg">Dr.D.B Marg</option>
                                    <option value="East Region Cyber">East Region Cyber</option>
                                    <option value="Gamdevi">Gamdevi</option>
                                    <option value="Ghatkopar">Ghatkopar</option>
                                    <option value="Gorai">Gorai</option>
                                    <option value="Goregaon">Goregaon</option>
                                    <option value="Govandi">Govandi</option>
                                    <option value="Jogeshwari">Jogeshwari</option>
                                    <option value="Juhu">Juhu</option>
                                    <option value="Kalachowki">Kalachowki</option>
                                    <option value="Kandivali">Kandivali</option>
                                    <option value="Kanjurmarg">Kanjurmarg</option>
                                    <option value="Kasturba marg">Kasturba marg</option>
                                    <option value="Khar">Khar</option>
                                    <option value="Kherwadi">Kherwadi</option>
                                    <option value="Kurar">Kurar</option>
                                    <option value="Kurla">Kurla</option>
                                    <option value="L. T. Marg">L. T. Marg</option>
                                    <option value="M.H.B. Colony">M.H.B. Colony</option>
                                    <option value="M.I.D.C.">M.I.D.C.</option>
                                    <option value="M.R.A. Marg">M.R.A. Marg</option>
                                    <option value="Mahim">Mahim</option>
                                    <option value="Malabar Hill">Malabar Hill</option>
                                    <option value="Malad">Malad</option>
                                    <option value="Malvani">Malvani</option>
                                    <option value="Mankhurd">Mankhurd</option>
                                    <option value="Marine Drive">Marine Drive</option>
                                    <option value="Matunga">Matunga</option>
                                    <option value="Meghwadi">Meghwadi</option>
                                    <option value="Mulund">Mulund</option>
                                    <option value="N. M. Joshi Marg">N. M. Joshi Marg</option>
                                    <option value="Nagpada">Nagpada</option>
                                    <option value="Navghar">Navghar</option>
                                    <option value="Nehru Nagar">Nehru Nagar</option>
                                    <option value="Nirmal Nagar">Nirmal Nagar</option>
                                    <option value="North Region Cyber">North Region Cyber</option>
                                    <option value="Oshiwara">Oshiwara</option>
                                    <option value="PantNagar">PantNagar</option>
                                    <option value="Parksite">Parksite</option>
                                    <option value="Powai">Powai</option>
                                    <option value="Pydhonie">Pydhonie</option>
                                    <option value="R.A.K. Marg">R.A.K. Marg</option>
                                    <option value="R.C.F.">R.C.F.</option>
                                    <option value="Sahar">Sahar</option>
                                    <option value="Sakinaka">Sakinaka</option>
                                    <option value="Samta Nagar">Samta Nagar</option>
                                    <option value="Santacruz">Santacruz</option>
                                    <option value="Sewree">Sewree</option>
                                    <option value="Shahu nagar">Shahu nagar</option>
                                    <option value="Shivaji Nagar">Shivaji Nagar</option>
                                    <option value="Shivaji Park">Shivaji Park</option>
                                    <option value="Sion">Sion</option>
                                    <option value="Sir J.J. Marg">Sir J.J. Marg</option>
                                    <option value="South Region Cyber">South Region Cyber</option>
                                    <option value="Tardeo">Tardeo</option>
                                    <option value="Tilak Nagar">Tilak Nagar</option>
                                    <option value="Trombay">Trombay</option>
                                    <option value="V. P. Road">V. P. Road</option>
                                    <option value="Vakola">Vakola</option>
                                    <option value="Vanrai">Vanrai</option>
                                    <option value="Versova">Versova</option>
                                    <option value="Vikhroli">Vikhroli</option>
                                    <option value="VileParle">VileParle</option>
                                    <option value="Vinoba Bhave Nagar">Vinoba Bhave Nagar</option>
                                    <option value="Wadala">Wadala</option>
                                    <option value="Wadala Truck Terminal">Wadala Truck Terminal</option>
                                    <option value="West Region Cyber">West Region Cyber</option>
                                    <option value="Worli">Worli</option>
                                    <option value="Yellow Gate">Yellow Gate</option>
                                </select>
                            </div>
                        </div>
                        <div class="p-2 w-full">
                            <div class="relative">
                                <label for="aadhar" class="leading-7 text-sm text-gray-600">Aadhaar Number</label>
                                <input type="text" maxlength="12" id="aadhar" name="aadhar" required
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                        </div>
                        <div class="p-2 w-full">
                            <div class="relative">
                                <label for="complain" class="leading-7 text-sm text-gray-600">Complain</label>
                                <textarea id="complain" name="complain" required
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                            </div>
                        </div>
                        <div class="p-2 w-full">
                            <input type="submit" title="Submit" required
                                class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"></input>
                        </div>
                        <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">

                            <span class="inline-flex">
                                <a class="text-gray-500">
                                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                    </svg>
                                </a>
                                <a class="ml-4 text-gray-500">
                                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path
                                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                        </path>
                                    </svg>
                                </a>
                                <a class="ml-4 text-gray-500">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                    </svg>
                                </a>
                                <a class="ml-4 text-gray-500">
                                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>
                                </a>
                            </span>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>